@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

:root {
    --color-main: #0D96A0;
    --color-bg-light: #eef7f8;
    --color-black: #707070;
}

/* base */
html {
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    color: var(--color-black);
    font-size: 17px;
    line-height: calc(30 / 17);
    letter-spacing: 0;
}

/* common */
@media (max-width: 767px) {
    .pc {
        display: none !important;
    }
}
@media (min-width: 768px) {
    .sp {
        display: none !important;
    }
}
main {
    margin-top: 50px;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.inner {
    max-width: 880px;
    margin-inline: auto;
}
@media (max-width: 767px) {
    .inner {
        max-width: 335px;
    }
}

/* header */
.header {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    padding-inline: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo a {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: opacity 0.4s;
    text-decoration: none;
    color: inherit;
}
@media (any-hover: hover) {
    .header__logo a:hover {
        opacity: 0.7;
    }
}
.header__logo-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    object-fit: contain;
    display: inline-block;
}
.header__nav ul {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header__nav ul li a {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: opacity 0.4s;
    text-decoration: none;
    color: inherit;
}
@media (any-hover: hover) {
    .header__nav ul li a:hover {
        opacity: 0.7;
    }
}
@media (max-width: 767px) {
    .header {
        padding-inline: 20px;
    }
    .header__logo a {
        font-size: 20px;
    }
}

/* --- 共通セクションタイトル --- */
.section-title {
    text-align: center;
}

.section-title h2 {
    color: var(--color-black);
    font-size: 25px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-title h2::before,
.section-title h2::after {
    content: "";
    display: block;
    width: 25.5px;
    height: 25px;
    background-image: url("../images/paws-01.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 767px) {
    .section-title h2 {
        font-size: 25px;
        gap: 20.5px;
    }
    .section-title h2::before,
    .section-title h2::after {
        width: 25px;
        height: 25px;
    }
}

/* --- MV --- */
.mv {
    position: relative;
    padding: 0;
}
.mv__contents {
    position: absolute;
    top: calc(51.5%);
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.702);
    left: 0; 
    width: calc(492 / 1080 * 100%);
    height: calc(210 / 500 * 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: max(20px, calc(50% - 440px)); 
}

.mv__catch h1 {
    font-size: 25px;
    color: var(--color-black);
    margin-top: -4px;
}

.mv__catch h2 {
    font-size: 40px;
    color: var(--color-main);
    line-height: calc(60 / 40);
}
@media (max-width: 767px) {
    .mv__contents {
        top: auto;
        bottom: 0;
        width: calc(311 / 375 * 100%);
        height: calc(148 / 550 * 100%);
        padding-bottom: 0;
        padding-left: 20px;
        transform: none;
    }
    .mv__catch h1 {
        font-size: 20px;
        margin-top: 2px;
    }
    .mv__catch h2 {
        font-size: 30px;
        line-height: calc(40 / 30);
        margin-top: 2px;
    }
}
@media (max-width: 345px) {
    .mv__catch h1{
        font-size: 15px;
    }
    .mv__catch h2 {
        font-size: 24px;
        line-height: calc(40 / 24);
    }
}
/* --- ご挨拶 --- */
.greeting {
    position: relative;
    text-align: center;
    padding: 60px 100px 60px;
}

.bg-paws {
    position: absolute;
    top: calc(173 / 284 * 100%); 
    left: calc(920 / 1080 * 100%);
    aspect-ratio: 84 / 77;
    width: calc(84 / 1080 * 100%);
    z-index: -1;
    opacity: 0.7;
}
.greeting h1 {
    color: var(--color-main);
    font-size: 30px;
    line-height: calc(50 / 30);
}
.greeting p {
    text-align: center;
    font-size: 18px;
    line-height: calc(33 / 18);
    margin-top: 15px;
    font-weight: 500;
}
br[sp] {
    display: none;
}

@media (max-width: 767px) {
    .greeting {
        padding: 50px 20px 0;
        padding-bottom: 37px;
        position: relative;
    }
    .greeting .inner {
        margin-inline: auto;
    }
    .greeting h1 {
        font-size: 25px;
        line-height: calc(35 / 25);
        text-align: center;
        margin-bottom: 17px;
    }

    .greeting p {
        text-align: left;
        font-size: 16px;
        line-height: calc(30 / 16);
        margin-top: 0;
        font-weight: 500;
    }

    .bg-paws {
        top: calc(285 / 395 * 100%); 
        left: calc(277 / 375 * 100%);
        aspect-ratio: 68 / 63;
        width: calc(68 / 375 * 100%);
        opacity: 0.8;
    }

    br[sp] {
        display: block;
    }
}

/* --- 強み --- */
.strength {
    background-color: var(--color-bg-light);
    padding: 60px 100px 18px;
}
.strength-item {
    margin-top: 44px;
    margin-bottom: 50px;
}
.strength-item__image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.strength__items .strength__item:nth-child(odd) .strength-item__image {
    flex-direction: row-reverse;
}
.strength-item__image picture {
    width: 50%;
}
.strength-item__image img {
    width: 100%;
    aspect-ratio: 440 / 247;
    object-fit: cover;
}
.strength-item__textarea {
    width: 100%;
    max-width: 396px;
    text-align: left;
    color: var(--color-black);
}
.strength__item:nth-child(2) .strength-item__textarea p {
    width: 100%;
    position: relative;
    left: 3px;
}
.strength__item:nth-child(2) .strength-item__textarea h3 {
    width: 100%;
    position: relative;
    left: 3px;
}
.strength-item__textarea h3 {
    font-size: 22px;
    color: var(--color-black);
    line-height: calc(33 / 22);
}
.strength-item__textarea p {
    font-weight: 500;
    margin-top: 19px;
    font-size: 18px;
    line-height: calc(33 / 18);
}
.strength__item:nth-child(3) .strength-item__textarea p {
    width: 99.9%;
}

/* --- 強み (スマホ用設定) --- */
@media (max-width: 767px) {
    .strength {
        padding: 47px 20px 35px 20px;
    }
    .strength__title {
        font-size: 25px;
        margin-bottom: 45.5px; 
    }
    .strength-item {
        margin-top: 2px; 
        margin-bottom: 50px;
    }
    .strength__item:nth-child(2) .strength-item__textarea h3 {
        position: relative;
        left: 4px;
    }
    .strength__item:nth-child(2) .strength-item__textarea p {
        position: relative;
        width: 100%;
        left: 0px;
    }
    .strength__item:nth-child(3) .strength-item__textarea p {
        position: relative;
        right: 8px;
        width: 95%;
    }
    .strength-item:last-child {
        margin-bottom: 0;
    }
    .strength-item__image {
        display: block;
    }
    .strength-item__image picture {
        width: 100%;
        margin-bottom: 29px;
    }
    .strength-item__image img {
        margin-top: -8px;
        width: 100%;
        aspect-ratio: 335 / 200;
    }
    
    .strength-item__textarea {
        width: 100%;
        text-align: center;
    }
    .strength__items .strength__item:nth-child(2) .strength-item__textarea {
        width: calc(335 / 345 * 100%);
    }
    .strength-item__textarea h3 {
        font-size: 20px;
        margin-top: 27px;
    }
    .strength-item__textarea p {
        font-size: 16px;
        line-height: calc(30 / 16);
        margin-top: 7px;
        margin-bottom: 0;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
}
/* --- サービス --- */

.service {
    padding: 60px 100px 57px;
}

@media (max-width: 767px) {
    .service {
        padding: 41px 20px 1px;
    }
}

.service__title h2 {
    text-align: center;
}

@media (max-width: 767px) {
    .service__title h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.service__contents {
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    margin: 44px auto 0;
}

@media (max-width: 767px) {
    .service__contents {
        display: block;
        margin-top: 29.5px;
    }
}

.service-item {
  width: calc(260 / 880 * 100%);
}

@media (max-width: 767px) {
    .service-item {
    width: 100%;
    margin-bottom: 40px;
    }
}

.service-item__image img {
    aspect-ratio: 260 / 200;
    width: 100%;
}

@media (max-width: 767px) {
    .service-item__image img {
    aspect-ratio: 335 / 200;
    margin-top: 39px;
    }
}

.service-item__textarea {
    text-align: center;
    color: var(--color-black);
}

.service-item__textarea h3 {
    font-size: 20px;
    line-height: calc(25 / 20);
    margin-top: 19px;
}

@media (max-width: 767px) {
    .service-item__textarea h3 {
    margin-top: 33.5px;
    }
}

.service-item__textarea p {
    font-size: 17px;
    line-height: calc(30 / 17);
    text-align: left;
    font-weight: 500;
    margin-top: 8px;
}

@media (max-width: 767px) {
    .service-item__textarea p {
    font-size: 16px;
    line-height: calc(30 / 16);
    margin-top: 8px;
    }
}
/* --- お知らせ --- */
.news {
    background-color: var(--color-bg-light);
    padding: 59px 100px 70px;
}
@media (max-width: 767px) {
    .news {
        padding: 37px 20px 52px;
    }
}

.news__title {
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .news__title {
        margin-top: 0;
        margin-bottom: 38px;
    }
}

.news__list {
    border-top: 1px solid var(--color-main);
    top: 2px;
    position: relative;
}
@media (max-width: 767px) {
    .news__list {
        top: 3px;
    }
}

.news__item {
    border-bottom: 1px solid var(--color-black);
    display: flex;
    align-items: center;
    margin-top: -1px;
}
@media (max-width: 767px) {
    .news__item {
        display: grid;
        padding: 20px 0px;
        padding-top: 4px;
    }
}

.news__item dt {
    position: relative;
    width: calc(92 / 880 * 100vw);
    aspect-ratio: calc(95 / 25);
    font-size: 17px;
    line-height: calc(25 / 17);
    padding: 18px 0 17px 18.5px;
}
@media (max-width: 767px) {
    .news__item dt {
        display: inline-block; 
        padding: 0;
        font-size: 17px;
        left: calc(10 / 375 * 100vw);
        margin-top: 27px;
        aspect-ratio: auto !important;
        width: auto !important;  
    }
}

.news__item dd:nth-of-type(1) {
    position: relative;
    color: var(--color-main);
    width: calc(160 / 880 * 100vw);
    aspect-ratio: calc(160 / 25);
    font-size: 20px;
    line-height: calc(25 / 20);
    padding: 17px 0 17px 24px;
}
@media (max-width: 767px) {
    .news__item dd:nth-of-type(1) {
        display: inline-block;
        padding: 0;
        margin-bottom: 5px;
        font-size: 20px;
        left: calc(10 / 375 * 100vw);
        margin-top: 1px;
        aspect-ratio: auto !important;
        width: auto !important;
    }
}

.news__item dd:nth-of-type(2) {
    position: relative;
    font-weight: 500;
    font-size: 17px;
    line-height: calc(24 / 16);
    padding: 15px 0 15px 36px;
}
@media (max-width: 767px) {
    .news__item dd:nth-of-type(2) {
        display: block;
        font-size: 16px;
        line-height: calc(24 / 16);
        padding: 0;
        left: calc(10 / 375 * 100vw);
        width: calc(315 / 345 * 100%);
        margin-top: 1px;
        margin-bottom: 6px;
    }
}
/* --- アクセス --- */
.access {
    padding: 59px 100px 61px;
}
.access__title {
    margin-bottom: 40px;
}
.access__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 38.5px;
}
.access__image img {
    width: calc(358 / 880 * 100vw);
    aspect-ratio: calc(440 / 300);
}
.access__textarea {
    width: calc(484 / 1080 * 100%);
}
.access__textarea h3 {
    font-size: 22px;
    margin-top: 0;
}
.access__info {
    padding-bottom: 23px;
    border-bottom: 1px solid var(--color-black);
}
.access__info div {
    display: flex;
    align-items: baseline;
}
.access__info .postal dt {
    width: auto;
    margin-top: 10px;
    font-size: 18px;
    line-height: calc(27 / 18);
    font-weight: 500;
}
.access__info .postal dd {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(27 / 18);
}
.access__info .tel dt {
    font-size: 18px;
    font-weight: 500;
}
.access__info .tel dd {
    color: var(--color-main);
    font-size: 25px;
    margin-top: 13px;
}
.access__info .mail dt {
    font-size: 18px;
    font-weight: 500;
}
.access__info .mail dd {
    font-size: 18px;
    margin-top: 4px;
    font-weight: 500;
}
.access__time p {
    border-bottom: 1px solid var(--color-black);
    font-size: 18px;
    line-height: calc(40 / 18); 
    margin-top: 16px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-bottom: 12px;
    font-weight: 500;

}

/* --- アクセス (スマホ用) --- */
@media (max-width: 767px) {
    .access {
        padding: 39px 20px;
    }
    .access__title {
        margin-bottom: 30px;
    }
    .access__content {
        display: block;
        margin-top: 42px;
    }
    .access__image {
        width: 100%;
        margin-bottom: 25px;
    }
    .access__image img {
        width: 100%;
        aspect-ratio: auto;
    }
    .access__textarea {
        width: 100%;
    }
    .access__textarea h3 {
        font-size: 22px;
        padding-top: 4px;
    }
    .access__info {
        padding-top: 4px;
        padding-bottom: 15px;
    }
    .access__info .postal dt,
    .access__info .postal dd {
        font-size: 16px;
        line-height: calc(24 / 16);
        margin-top: 5px;
    }
    .access__info .tel {
        align-items: center;
    }
    .access__info .tel dt {
        font-size: 16px;
        margin-top: 11px;
    }
    .access__info .tel dd {
        font-size: 25px;
        margin-top: 3px;
    }
    .access__info .mail dt,
    .access__info .mail dd {
        font-size: 16px;
        line-height: calc(24 / 16);
        margin-top: 4px;
        padding-top: 2px;
    }
    .access__time p {
        font-size: 16px;
        line-height: calc(30 / 16);
        margin-top: 12px;
        padding-bottom: 0;
        padding-left: 0;
        padding-bottom: 11px;
    }
}
/* --- お問い合わせ --- */
.contact {
    padding: 57px 100px 80px;
    background: #0D96A01A;
}
@media (max-width: 767px) {
    .contact {
        padding: 41px 20px 50px;
    }
}
.contact__content {
    margin-top: 2px;
}
@media (max-width: 767px) {
    .contact__content {
        margin-top: 38px;
    }
}
.contact__text {
    text-align: center;
}
@media (max-width: 767px) {
    .contact__text {
        text-align: left;
        display: flex;
        justify-content: center;
    }
}
.contact__text p {
    font-size: 17px;
    line-height: calc(30 / 17);
    font-weight: 500;
    margin-top: 20px;
}
@media (max-width: 767px) {
    .contact__text p {
        font-size: 16px;
        line-height: calc(30 / 16);
        margin-top: 0;
    }
}
.contact__form {
    margin-top: 39px;
}
@media (max-width: 767px) {
    .contact__form {
        margin-top: 34px;
    }
}
.form-area {
    display: flex;
} 
@media (max-width: 767px) {
    .form-area {
        flex-direction: column;
        row-gap: 2px;
    }
}
.form-area:not(:first-of-type) {
    margin-top: 30px;
}
@media (max-width: 767px) {
    .form-area:not(:first-of-type) {
        margin-top: 17px;
    }
}
.form-area dt {
    width: 169px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: calc(33 / 20);
    margin-top: 4px;
    margin-bottom: -4px;
}
@media (max-width: 767px) {
    .form-area dt {
        width: 100%;
        height: initial;
        font-size: 18px;
        line-height: calc(33 / 18);
        margin-top: -1px;
    }
}
.form-area dd {
    flex: 1;
    margin-top: 4px;
}
@media (max-width: 767px) {
    .form-area dd {
        margin-top: 9px;
    }
}
.form-control {
    width: 100%;
    height: 40px;
    background: #fff;
    padding: 0 10px;
    margin-top: -4px;
}
@media (max-width: 767px) {
    .form-control {
        height: 50px;
    }
}
.form-textarea {
    height: 300px;
    padding: 10px;
}
.form-submit-area {
    margin-top: 42px;
    display: flex;
    justify-content: center;
}
.form-submit {
    width: 200px;
    height: 50px;
    background: var(--color-main);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    line-height: calc(33 / 25);
    color: #fff;
    cursor: pointer;
    text-align: center;
}
@media (max-width: 767px) {
    .form-submit {
        width: 335px;
        height: 41px;
        font-size: 20px;
    }
}
.form-submit:hover {
    background: #fff;
    color: var(--color-main);
    border: 2px solid var(--color-main);
    transition: all 0.4s;
}
/* --- フッター --- */
.footer {
    background-color: #555555;
    color: var(--color-bg-light);
    padding-top: 66px;
    padding-bottom: 72px;
}
@media (max-width: 767px) {
    .footer {
        padding-top: 44px;
        padding-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .footer__nav {
        margin-bottom: 20px;
    }
}

.footer__nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
}
@media (max-width: 767px) {
    .footer__nav ul {
        gap: 0px 20px;
    }
}

.footer__nav a {
    color: var(--color-bg-light);
    text-decoration: none;
    font-size: 20px;
    transition: opacity 0.3s;
}
@media (max-width: 767px) {
    .footer__nav a {
        font-size: 18px;
        line-height: calc(33 / 18);
    }
}
@media (any-hover: hover) {
    .footer__nav a:hover {
        opacity: 0.7;
    }
}

.footer__bottom {
    border-top: 1px solid #fff;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;
    width: calc(737 / 1080 * 100vw);
}
@media (max-width: 767px) {
    .footer__bottom {
        width: 100%;
        margin-top: 0;
    }
}

.copyright {
    font-size: 20px;
    line-height: calc(33 /20);
    margin-top: 7px;
    width: 100vw;
    text-align: center;
}
@media (max-width: 767px) {
    .copyright {
        font-size: 16px;
        line-height: calc(33 / 16);
        width: auto;
        text-align: center;
        margin-top: -6px;
    }

}

.footer__sns {
    margin-top: -11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
@media (max-width: 767px) {
    .footer__sns {
        width: calc(122 / 375 * 100vw);
        justify-content: space-between;
        margin-top: 10px;
        gap: 10px;
    }
}

.sns-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    transition: opacity 0.3s;
}
@media (any-hover: hover) {
    .sns-icon:hover {
        opacity: 0.7;
    }
}